@(message: String)

    @scripts = {
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/raml/api-designer/dist/styles/297f267c.main.css")" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    }

@main("RAML designer", scripts) {

    <div ng-app="ramlEditorApp" style="height:1000px; width: 100%;">

        <div class="container" ng-include="" src="'views/raml-editor-main.tmpl.html'"></div>

        <script src="@routes.Assets.at("javascripts/raml/api-designer/dist/scripts/24623555.vendor.js")"></script>
        <script src="@routes.Assets.at("javascripts/raml/api-designer/dist/scripts/6b082be1.scripts.js")"></script>

        @*<script>*@
        @*// This part is needed only if you want to provide your own Persistance Implementation*@
        @*// Angular Module must match "ramlEditorApp"*@
        @*angular.module ( 'ramlEditorApp' )*@
        @*.factory ( 'MyFileSystem', function ( $q, config, eventService ) {*@
            @*var service = { } ;*@

            @*service.directory = function ( path ) {*@
            @*var deferred = $q.defer ( ) ;*@

            @*// Your magic goes here:*@
            @*// Do deferred.resolve(data); to fulfull the promise or*@
            @*// deferred.reject(error); to reject it.*@

            @*return deferred.promise ;*@
        @*} ;*@

        @*service.load = function ( path, name ) {*@
            @*var deferred = $q.defer ( ) ;*@

            @*// Your magic goes here:*@
            @*// Do deferred.resolve(data); to fulfull the promise or*@
            @*// deferred.reject(error); to reject it.*@

            @*return deferred.promise ;*@
        @*} ;*@

        @*service.remove = function ( path, name ) {*@
            @*var deferred = $q.defer ( ) ;*@

            @*// Your magic goes here:*@
            @*// Do deferred.resolve(data); to fulfull the promise or*@
            @*// deferred.reject(error); to reject it.*@

            @*return deferred.promise ;*@
        @*} ;*@

        @*service.save = function ( path, name, contents ) {*@
            @*var deferred = $q.defer ( ) ;*@

            @*// Your magic goes here:*@
            @*// Do deferred.resolve(data); to fulfull the promise or*@
            @*// deferred.reject(error); to reject it.*@

            @*return deferred.promise ;*@
        @*} ;*@

        @*return service ;*@
        @*} )*@
        @*.run ( function ( MyFileSystem, config, eventService ) {*@
            @*// Set MyFileSystem as the filesystem to use*@
            @*config.set ( 'fsFactory', 'MyFileSystem' ) ;*@

            @*// In case you want to send notifications to the user*@
            @*// (for instance, that he must login to save).*@
            @*// The expires flags means whether*@
            @*// it should be hidden after a period of time or the*@
            @*// user should dismiss it manually.*@
            @*eventService.broadcast ( 'event:notification', { message : 'File saved.', expires : true } ) ;*@

        @*} ) ;*@

        @*</script>*@
    </div>
    <a href="/api/docs">Console</a>
}
